In [147]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.svm import SVC
from sklearn.preprocessing import StandardScaler,LabelEncoder
from sklearn.metrics import accuracy_score , confusion_matrix

In [148]:
df=pd.read_csv('bank_transactions_data_2.csv')
df.head()

,TransactionID,AccountID,TransactionAmount,TransactionDate,TransactionType,Location,DeviceID,IP Address,MerchantID,Channel,CustomerAge,CustomerOccupation,TransactionDuration,LoginAttempts,AccountBalance,PreviousTransactionDate
0,TX000001,AC00128,14.09,2023-04-11 16:29:14,Debit,San Diego,D000380,162.198.218.92,M015,ATM,70,Doctor,81,1,5112.21,2024-11-04 08:08:08
1,TX000002,AC00455,376.24,2023-06-27 16:44:19,Debit,Houston,D000051,13.149.61.4,M052,ATM,68,Doctor,141,1,13758.91,2024-11-04 08:09:35
2,TX000003,AC00019,126.29,2023-07-10 18:16:08,Debit,Mesa,D000235,215.97.143.157,M009,Online,19,Student,56,1,1122.35,2024-11-04 08:07:04
3,TX000004,AC00070,184.50,2023-05-05 16:32:11,Debit,Raleigh,D000187,200.13.225.150,M002,Online,26,Student,25,1,8569.06,2024-11-04 08:09:06
4,TX000005,AC00411,13.45,2023-10-16 17:51:24,Credit,Atlanta,D000308,65.164.3.100,M091,Online,26,Student,198,1,7429.40,2024-11-04 08:06:39

In [149]:
df=df.drop(columns=['TransactionID','AccountID','TransactionDate','DeviceID','IP Address','MerchantID','PreviousTransactionDate'],axis=1)

In [150]:
df.isna().sum()

TransactionAmount      0
TransactionType        0
Location               0
Channel                0
CustomerAge            0
CustomerOccupation     0
TransactionDuration    0
LoginAttempts          0
AccountBalance         0
dtype: int64

In [151]:
df=df.dropna()

In [152]:
df.dtypes

TransactionAmount      float64
TransactionType         object
Location                object
Channel                 object
CustomerAge              int64
CustomerOccupation      object
TransactionDuration      int64
LoginAttempts            int64
AccountBalance         float64
dtype: object

In [153]:
df.head()

,TransactionAmount,TransactionType,Location,Channel,CustomerAge,CustomerOccupation,TransactionDuration,LoginAttempts,AccountBalance
0,14.09,Debit,San Diego,ATM,70,Doctor,81,1,5112.21
1,376.24,Debit,Houston,ATM,68,Doctor,141,1,13758.91
2,126.29,Debit,Mesa,Online,19,Student,56,1,1122.35
3,184.50,Debit,Raleigh,Online,26,Student,25,1,8569.06
4,13.45,Credit,Atlanta,Online,26,Student,198,1,7429.40

In [154]:
le=LabelEncoder()
for col in df.select_dtypes(include="object"):
  df[col]=le.fit_transform(df[col])

In [155]:
X=df.drop('TransactionType',axis=1)
y=df['TransactionType']

In [156]:
scaler=StandardScaler()
X_scaled=scaler.fit_transform(X)

In [157]:
X_train,X_test,y_train,y_test=train_test_split(X_scaled,y,test_size=0.25,random_state=42)

In [158]:
#Linear
model_linear=SVC(kernel='linear')
model_linear.fit(X_train,y_train)
y_pred_linear=model_linear.predict(X_test)
print(accuracy_score(y_test,y_pred_linear))
print(confusion_matrix(y_test,y_pred_linear))

0.7914012738853503
[[  0 131]
 [  0 497]]

In [159]:
#Polynomial
model_poly=SVC(kernel='poly',degree=3)
model_poly.fit(X_train,y_train)
y_pred_poly=model_poly.predict(X_test)
print(accuracy_score(y_test,y_pred_poly))
print(confusion_matrix(y_test,y_pred_poly))

0.7898089171974523
[[  1 130]
 [  2 495]]